<form action="/authentication/login" method="post" autocomplete="on">
  <div>
    {{#if errors.body.email}}
      <div class="error"><p>{{errors.body.email.message}}</p></div>
    {{/if}}
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" autocomplete="email" required>
  </div>

  <div>
    {{#if errors.body.password}}
      <div class="error"><p>{{errors.body.password.message}}</p></div>
    {{/if}}
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" minlength="8" required maxlength="64" autocomplete="new-password">
  </div>

  <button type="submit">Login</button>
  <a href="/authentication/register">Register</a>
</form>